.thumbnail {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  cursor: pointer;
  align-self: center;
}

@media (min-width: 768px) {
  .thumbnail {
    width: 380px;
    height: 360px;
  }
}

.popup-content {
  background-color: #ffffff;
  width: 250px;
  height: 250px;
  border-radius: 5px;
  padding: 5px;
}
@media screen and (min-width: 768px) {
  .popup-content {
    width: 400px;
    height: 400px;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100%;
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;

  margin-right: 18px;
  outline: none;
  cursor: pointer;
}
.button {
  font-family: 'Roboto';
  color: #000000;
  font-weight: 600;
  font-size: 15px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 0;
}
